.grid {
    width: 735px;
    height: 735px;
    display: grid;
    grid-template-columns: repeat(21, 35px); /* 21 columns of 35px */
    grid-template-rows: repeat(21, 35px); /* 21 rows of 35px */
    position: relative;
}

.grid div {
    width: 35px;
    height: 35px;
}

.grid div:nth-child(odd) {
    background-color: lightgreen; /* Light green for odd cells */
}

.grid div:nth-child(even) {
    background-color: green; /* Green for even cells */
}